<div class="modal-header">
        <h1 class="modal-title">TARGET PRODUCT</h1>
    </div>
    <div class="modal-body">
        <div class="row">
            <form class="config-add-form form-horizontal m-t-xs">
                <div class="form-group">
                    <label class="col-xs-4 control-label">TARGET PRODUCT</label>
                    <div class="col-xs-6">
                        <ui-select ng-model="vm.target_product" theme="bootstrap" on-select="vm.valid()" on-remove="vm.valid()">
                                <ui-select-match placeholder="Select target product...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="availTP in vm.availableTargetProducts | filter:$select.search">
                                    {{availTP}}
                                </ui-select-choices>
                            </ui-select>
                        </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-disabled="!vm.valid()" class="btn btn-primary btn-sm" type="button" ng-click="vm.save()">OK</button>
        <button class="btn btn-warning btn-sm" type="button" ng-click="vm.cancel()">CANCEL</button>
    </div>